<!-- <ion-header>
  <ion-navbar>
    <ion-title>amphoe</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header> -->

<ion-toolbar color="dark">
  <ion-buttons slot="secondary">
    <ion-button (click)="closeModal()">
      <ion-icon slot="icon-only" name="close-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <!-- <ion-title>Dark Toolbar</ion-title> -->
</ion-toolbar>

<!-- <ion-button (click)="closeModal()">close</ion-button> -->
<ion-content padding class="background">
  <div class="opci">
    <ion-item>
      <ion-label>MAP</ion-label>
      <div class="button_map">
      </div>

    </ion-item>
  </div>
  <div id="map_amphoe" style="height:40%;"></div>
  <br>

  <div class="opci">
    <ion-item>
      <ion-label>Chart</ion-label>
      <div class="button_map">
      </div>

    </ion-item>
  </div>
  <div id="container" style="display: block;height: 40%;"></div>
  <br>
  <div class="opci">

    <ion-item>
      <ion-icon name="pin" color="danger" slot="start"></ion-icon>
      <ion-label>
        <h2>ต.xxx</h2>
      </ion-label>
      <p>2 จุด</p>
    </ion-item>

    <ion-item>
      <ion-icon name="pin" color="danger" slot="start"></ion-icon>
      <ion-label>
        <h2>ต.xxx</h2>
      </ion-label>
      <p>2 จุด</p>
    </ion-item>

    <ion-item>
      <ion-icon name="pin" color="danger" slot="start"></ion-icon>
      <ion-label>
        <h2>ต.xxx</h2>
      </ion-label>
      <p>2 จุด</p>
    </ion-item>

    <ion-item>
      <ion-icon name="pin" color="danger" slot="start"></ion-icon>
      <ion-label>
        <h2>ต.xxx</h2>
      </ion-label>
      <p>2 จุด</p>
    </ion-item>

    <ion-item>
      <ion-icon name="pin" color="danger" slot="start"></ion-icon>
      <ion-label>
        <h2>ต.xxx</h2>
      </ion-label>
      <p>2 จุด</p>
    </ion-item>

    <ion-item>
      <ion-icon name="pin" color="danger" slot="start"></ion-icon>
      <ion-label>
        <h2>ต.xxx</h2>
      </ion-label>
      <p>2 จุด</p>
    </ion-item>

    <ion-item>
      <ion-icon name="pin" color="danger" slot="start"></ion-icon>
      <ion-label>
        <h2>ต.xxx</h2>
      </ion-label>
      <p>2 จุด</p>
    </ion-item>

  </div>

</ion-content>