<ion-header>
  <ion-toolbar>
    <ion-title>amphoe</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div class="opci">
    <ion-item>
      <ion-label>MAP</ion-label>
      <div class="button_map">
      </div>

    </ion-item>
  </div>
  <div id="map_amphoe" style="height:40%;"></div>
  <br>

  <div class="opci">
    <ion-item>
      <ion-label>Chart</ion-label>
      <div class="button_map">
      </div>

    </ion-item>
  </div>
  <div id="container" style="display: block;height: 40%;"></div>
  <br>
  <div class="opci">

    <ion-item>
      <ion-icon name="pin" color="danger" slot="start"></ion-icon>
      <ion-label>
        <h2>ต.xxx</h2>
      </ion-label>
      <p>2 จุด</p>
    </ion-item>

    <ion-item>
      <ion-icon name="pin" color="danger" slot="start"></ion-icon>
      <ion-label>
        <h2>ต.xxx</h2>
      </ion-label>
      <p>2 จุด</p>
    </ion-item>

    <ion-item>
      <ion-icon name="pin" color="danger" slot="start"></ion-icon>
      <ion-label>
        <h2>ต.xxx</h2>
      </ion-label>
      <p>2 จุด</p>
    </ion-item>

    <ion-item>
      <ion-icon name="pin" color="danger" slot="start"></ion-icon>
      <ion-label>
        <h2>ต.xxx</h2>
      </ion-label>
      <p>2 จุด</p>
    </ion-item>

    <ion-item>
      <ion-icon name="pin" color="danger" slot="start"></ion-icon>
      <ion-label>
        <h2>ต.xxx</h2>
      </ion-label>
      <p>2 จุด</p>
    </ion-item>

    <ion-item>
      <ion-icon name="pin" color="danger" slot="start"></ion-icon>
      <ion-label>
        <h2>ต.xxx</h2>
      </ion-label>
      <p>2 จุด</p>
    </ion-item>

    <ion-item>
      <ion-icon name="pin" color="danger" slot="start"></ion-icon>
      <ion-label>
        <h2>ต.xxx</h2>
      </ion-label>
      <p>2 จุด</p>
    </ion-item>

  </div>

</ion-content>