<ion-content padding class="background">

  <div class="opci">
    <ion-item>

      <h1 slot="start">62</h1>
      <p slot="end" text-center>
        <img
          src="https://images.vexels.com/media/users/3/137244/isolated/preview/c6b689bd0d2f7baaad783f9b6baa5263-cartoon-fire-illustration-by-vexels.png"
          width="60%" alt="">
        <br>
        Hotspot 24 hr
        <br>
        <ion-button color="danger" slot="end">ดูสถิติย้อนหลัง 7 วัน</ion-button>
      </p>
    </ion-item>
    <br>
  </div>
  <br>
  <div class="opci">
    <ion-item>
      <ion-label>MAP</ion-label>
    </ion-item>
  </div>
  <div id="map" style="height:40%;"></div>


  <br>
  <div class="opci">
    <ion-item>
      <ion-label>REPORT 24hr</ion-label>
    </ion-item>
  </div>
  <div class="opci">

    <ion-item>
      <ion-icon name="pin" color="danger" slot="start"></ion-icon>
      <ion-label>
        <h2>อ.xxx</h2>
      </ion-label>
      <p>2 จุด</p>
      <ion-button fill="outline" color="danger" slot="end">View</ion-button>
    </ion-item>

    <ion-item>
      <ion-icon name="pin" color="danger" slot="start"></ion-icon>
      <ion-label>
        <h2>อ.xxx</h2>
      </ion-label>
      <p>2 จุด</p>
      <ion-button fill="outline" color="danger" slot="end">View</ion-button>
    </ion-item>

    <ion-item>
      <ion-icon name="pin" color="danger" slot="start"></ion-icon>
      <ion-label>
        <h2>อ.xxx</h2>
      </ion-label>
      <p>2 จุด</p>
      <ion-button fill="outline" color="danger" slot="end">View</ion-button>
    </ion-item>

    <ion-item>
      <ion-icon name="pin" color="danger" slot="start"></ion-icon>
      <ion-label>
        <h2>อ.xxx</h2>
      </ion-label>
      <p>2 จุด</p>
      <ion-button fill="outline" color="danger" slot="end">View</ion-button>
    </ion-item>

  </div>
</ion-content>