ion-content.background {
    --background: url(../../assets/img/bg_1.jpg) 0 0/100% 100% no-repeat;
}

div.opci {
    --ion-background-color: rgba(66, 66, 66, 0.4);
    -webkit-text-fill-color: white;
}

h1 {
    font-size: 6.2rem;
}