<ion-content padding class="background">

  <div class="opci">
    <ion-item>

      <h1 slot="start">62</h1>
      <p slot="end" text-center>
        <img src="https://www.freeiconspng.com/uploads/fire-flame-icon-pngs-7.png" width="40%" alt="">
        <br>
        จำนวนจุดความร้อนรายวัน
      </p>
    </ion-item>
  </div>
  <br>

  <div class="opci">
    <ion-item>
      <ion-label>MAP</ion-label>
    </ion-item>
  </div>
  <div id="map" style="height:40%;"></div>
  <br>

  <div class="opci">
    <ion-item>
      <ion-icon name="pin" color="danger" slot="start"></ion-icon>
      <ion-label>ion-item in a card, icon left, button right</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
    <ion-item>
      <ion-icon name="pin" color="danger" slot="start"></ion-icon>
      <ion-label>ion-item in a card, icon left, button right</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
    <ion-item>
      <ion-icon name="pin" color="danger" slot="start"></ion-icon>
      <ion-label>ion-item in a card, icon left, button right</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
    <ion-item>
      <ion-icon name="pin" color="danger" slot="start"></ion-icon>
      <ion-label>ion-item in a card, icon left, button right</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </div>
</ion-content>